.title {
  margin-bottom: 2rem;
}

.addRow td:nth-child(1) > *,
.addRow td:nth-child(2) > * {
  visibility: hidden;
}

input.edit {
  max-width: 7rem;
  padding: 0 0.5rem;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 1rem;
}

button.delete,
button.delete:hover {
  background-color: rgb(255, 195, 204);
  color: rgb(170, 0, 0);
}

button.update,
button.add,
button.add:hover {
  background-color: rgb(255, 238, 144);
  color: rgb(164, 101, 0);
}
