.title {
  margin-bottom: 2rem;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
}

.left {
  display: flex;
  justify-content: flex-start;
}

.right {
  display: flex;
  justify-content: flex-end;
}

.right > * {
  margin-left: 1rem;
}

button.delete,
button.delete:hover,
button.delete:focus {
  background-color: rgb(255, 195, 204);
  color: rgb(170, 0, 0);
}

button.update,
button.update:hover,
button.update:focus,
button.add,
button.add:hover,
button.add:focus {
  background-color: rgb(255, 238, 144);
  color: rgb(164, 101, 0);
}
